<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.keyi.chenqiang.dd.dao.ddMapper" >
  <resultMap id="BaseResultMap" type="com.keyi.chenqiang.dd.model.dd" >
    <id column="ddh" property="ddh" jdbcType="VARCHAR" />
    <result column="jyrq" property="jyrq" jdbcType="DATE" />
    <result column="ddzt" property="ddzt" jdbcType="VARCHAR" />
    <result column="psfs" property="psfs" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from tb_dd
    where ddh = #{ddh,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.keyi.chenqiang.dd.model.dd" >
    insert into tb_dd (ddh, jyrq, ddzt, 
      psfs)
    values (#{ddh,jdbcType=VARCHAR}, #{jyrq,jdbcType=DATE}, #{ddzt,jdbcType=VARCHAR}, 
      #{psfs,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.keyi.chenqiang.dd.model.dd" >
    update tb_dd
    set jyrq = #{jyrq,jdbcType=DATE},
      ddzt = #{ddzt,jdbcType=VARCHAR},
      psfs = #{psfs,jdbcType=VARCHAR}
    where ddh = #{ddh,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select ddh, jyrq, ddzt, psfs
    from tb_dd
    where ddh = #{ddh,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select ddh, jyrq, ddzt, psfs
    from tb_dd
  </select>
</mapper>