<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.keyi.chenqiang.jsjl.dao.DdMxMapper" >
  <resultMap id="BaseResultMap" type="com.keyi.chenqiang.jsjl.model.DdMx" >
    <id column="mxlsh" property="mxlsh" jdbcType="VARCHAR" />
    <result column="ddh" property="ddh" jdbcType="VARCHAR" />
    <result column="item_id" property="itemId" jdbcType="VARCHAR" />
    <result column="sl" property="sl" jdbcType="INTEGER" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from tb_dd_mx
    where mxlsh = #{mxlsh,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.keyi.chenqiang.jsjl.model.DdMx" >
    insert into tb_dd_mx (mxlsh, ddh, item_id, 
      sl)
    values (#{mxlsh,jdbcType=VARCHAR}, #{ddh,jdbcType=VARCHAR}, #{itemId,jdbcType=VARCHAR}, 
      #{sl,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.keyi.chenqiang.jsjl.model.DdMx" >
    update tb_dd_mx
    set ddh = #{ddh,jdbcType=VARCHAR},
      item_id = #{itemId,jdbcType=VARCHAR},
      sl = #{sl,jdbcType=INTEGER}
    where mxlsh = #{mxlsh,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select mxlsh, ddh, item_id, sl
    from tb_dd_mx
    where mxlsh = #{mxlsh,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select mxlsh, ddh, item_id, sl
    from tb_dd_mx
  </select>
</mapper>