<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.keyi.chenqiang.jsjl.dao.JsjlDao" >
  <delete id="deleteBySklsh" parameterType="java.lang.String" >
    delete from tb_jsjl_sk
    where sklsh = #{sklsh,jdbcType=VARCHAR}
  </delete>

  <delete id="deleteByJylsh" parameterType="java.lang.String" >
    delete from tb_jsjl
    where sklsh = #{jylsh,jdbcType=VARCHAR}
  </delete>

  <insert id="saveSkInfo" parameterType="java.util.HashMap" >
    <selectKey keyProperty="sklsh" resultType="java.lang.String" order="BEFORE">
      select concat(DATE_FORMAT(sysdate(),'%Y%m%d'),nextval('seq_sklsh')) as sklsh  from dual
    </selectKey>
    insert into tb_jsjl_sk(sklsh,sksj,ddh,ddzje,skzje,user_id,skzt,skr)
    values (#{sklsh,jdbcType=VARCHAR},sysdate(),#{ddh,jdbcType=VARCHAR},
      #{ddzje,jdbcType=DOUBLE}, #{skzje,jdbcType=DOUBLE},#{user_id,jdbcType=VARCHAR},'1', #{skr,jdbcType=VARCHAR})
  </insert>

  <insert id="saveJsjlInfo" parameterType="com.keyi.chenqiang.jsjl.model.Jsjl" >
    <selectKey keyProperty="jylsh" resultType="java.lang.String" order="BEFORE">
      select concat(DATE_FORMAT(sysdate(),'%Y%m%d'),nextval('seq_sklsh')) as jylsh  from dual
    </selectKey>
    insert into tb_jsjl(jylsh,jyrq,skfs,user_id,ddh,zfje,czr)
    values (#{jylsh,jdbcType=VARCHAR},sysdate(),#{skfs,jdbcType=VARCHAR},
    #{user_id,jdbcType=VARCHAR}, #{ddh,jdbcType=VARCHAR},#{zfje,jdbcType=DOUBLE},#{skr,jdbcType=VARCHAR})
  </insert>

  <update id="updateSkBySklsh" parameterType="java.util.HashMap" >
    update tb_jsjl_sk
    set sksj = #{sksj,jdbcType=DATE},
      skzje = #{skzje,jdbcType=DOUBLE},
      skfs = #{skfs,jdbcType=VARCHAR}
    where sklsh = #{sklsh,jdbcType=VARCHAR}
      and skzt = '1'
  </update>

  <update id="updateSkZt" parameterType="java.util.HashMap" >
    update tb_jsjl_sk
    set skzt=#{skzt,jdbcType=VARCHAR}
    where sklsh = #{sklsh,jdbcType=VARCHAR}
      and skzt = '1'
  </update>

  <select id="selectSkBySklsh" resultType="com.keyi.chenqiang.jsjl.model.Skjl" parameterType="java.lang.String" >
    select *
    from tb_jsjl_sk
    where sklsh = #{sklsh,jdbcType=VARCHAR}
  </select>

  <select id="selectSkjlByDdh" resultType="com.keyi.chenqiang.jsjl.model.Skjl" parameterType="java.lang.String" >
    select *
    from tb_jsjl_sk
    where ddh = #{ddh,jdbcType=VARCHAR}
  </select>

  <select id="selectJsjlByDdh" resultType="com.keyi.chenqiang.jsjl.model.Jsjl" parameterType="java.lang.String" >
    select *
    from tb_jsjl
    where ddh = #{ddh,jdbcType=VARCHAR}
  </select>

  <select id="listSkByPage" resultType="com.keyi.chenqiang.jsjl.model.Skjl" parameterType="java.util.HashMap" >
    SELECT
    b.sklsh,
    b.sksj,
    b.ddh,
    b.ddzje,
    b.skzje,
    b.user_id,
    (select user_name from tb_user where user_id=b.user_id) user_name,
    (select user_name from tb_user where user_id=b.skr) skr,
    case
    when b.skzt ='2' then '已收款'
    when b.skzt ='0' then '退款'
    else '待审核'
    end skzt,
    case
    when b.skfs ='1' then '银行转账'
    when b.skfs ='2' then '支付宝收款'
    else '微信收款'
    end skfs
    FROM
    tb_jsjl_sk b
    WHERE 1=1
    <if test="sklsh !=null and sklsh !=''">
      and b.sklsh = #{sklsh,jdbcType=VARCHAR}
    </if>
    <if test="ddh !=null and ddh !=''">
      and b.ddh = #{ddh,jdbcType=VARCHAR}
    </if>
    <if test="user_name !=null and user_name !=''">
      and b.user_id in (select user_id from tb_user where user_name like concat('%',concat(#{user_name,jdbcType=VARCHAR},'%')))
    </if>
    <if test="skzt !=null and skzt !=''">
      and b.skzt = #{skfs,jdbcType=VARCHAR}
    </if>
    and date_format(b.sksj,'%Y-%m-%d') between #{skqssj,jdbcType=VARCHAR} and #{skjssj,jdbcType=VARCHAR}
    LIMIT #{start} ,#{end}
  </select>

  <select id="getSkTotal" resultType="java.lang.Integer" parameterType="java.util.HashMap" >
    SELECT count(1)  FROM
    tb_jsjl_sk b
    WHERE 1=1
    <if test="sklsh !=null and sklsh !=''">
      and b.sklsh = #{sklsh,jdbcType=VARCHAR}
    </if>
    <if test="ddh !=null and ddh !=''">
      and b.ddh = #{ddh,jdbcType=VARCHAR}
    </if>
    <if test="user_name !=null and user_name !=''">
      and b.user_id in (select user_id from tb_user where user_name like concat('%',concat(#{user_name,jdbcType=VARCHAR},'%')))
    </if>
    <if test="skzt !=null and skzt !=''">
      and b.skzt = #{skfs,jdbcType=VARCHAR}
    </if>
    and date_format(b.sksj,'%Y-%m-%d') between #{skqssj,jdbcType=VARCHAR} and #{skjssj,jdbcType=VARCHAR}
  </select>

  <select id="listByPage" resultType="com.keyi.chenqiang.jsjl.model.Jsjl" parameterType="java.util.HashMap" >
    SELECT
    b.jylsh,
    b.ddh,
    b.user_id,
    (select user_name from tb_user where user_id=b.user_id) user_name,
    b.jyrq,
    b.bz,
    (select user_name from tb_user where user_id=b.czr) czr,
    b.zfje,
    case
    when b.skfs ='1' then '银行转账'
    when b.skfs ='2' then '支付宝收款'
    else '微信收款'
    end skfs
    FROM
    tb_jsjl b
    WHERE 1=1
    <if test="jylsh !=null and jylsh !=''">
      and b.jylsh = #{jylsh,jdbcType=VARCHAR}
    </if>
    <if test="ddh !=null and ddh !=''">
      and b.ddh = #{ddh,jdbcType=VARCHAR}
    </if>
    <if test="user_name !=null and user_name !=''">
      and b.user_id in (select user_id from tb_user where user_name like concat('%',concat(#{user_name,jdbcType=VARCHAR},'%')))
    </if>
    <if test="skfs !=null and skfs !=''">
      and b.skfs = #{skfs,jdbcType=VARCHAR}
    </if>
    and date_format(b.jyrq,'%Y-%m-%d') between #{jyqssj,jdbcType=VARCHAR} and #{jyjssj,jdbcType=VARCHAR}
    LIMIT #{start} ,#{end}
  </select>

  <select id="getTotal" resultType="java.lang.Integer" parameterType="java.util.HashMap" >
    SELECT count(1) FROM   tb_jsjl b
    WHERE 1=1
    <if test="jylsh !=null and jylsh !=''">
      and b.jylsh = #{jylsh,jdbcType=VARCHAR}
    </if>
    <if test="ddh !=null and ddh !=''">
      and b.ddh = #{ddh,jdbcType=VARCHAR}
    </if>
    <if test="user_name !=null and user_name !=''">
      and b.user_id in (select user_id from tb_user where user_name like concat('%',concat(#{user_name,jdbcType=VARCHAR},'%')))
    </if>
    <if test="skfs !=null and skfs !=''">
      and b.skfs = #{skfs,jdbcType=VARCHAR}
    </if>
    and date_format(b.jyrq,'%Y-%m-%d') between #{jyqssj,jdbcType=VARCHAR} and #{jyjssj,jdbcType=VARCHAR}
  </select>
</mapper>